<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinweizhao.modules.sys.mapper.SysMenuMapper">


    <select id="selectMenuListByUserId" resultType="com.qinweizhao.common.entity.dto.SysMenuDTO">
        SELECT m.*
        FROM sys_menu m
                 LEFT JOIN sys_role_menu rm ON rm.menu_id = m.menu_id
                 LEFT JOIN sys_role r
                           ON rm.role_id = r.role_id
                 LEFT JOIN sys_user_role ur ON ur.user_id = #{id}
    </select>
</mapper>
